<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Bonjour, <%= current_user.first_name%></h1>
    <% end %>
  </div>
</div>
<h1>FollowUps#index</h1>
<p>Find me in app/views/follow_ups/index.html.erb</p>
