<h1>Index : prescriptions</h1>
<ul class = "list-group">
  <% @prescriptions.each do |prescription| %>
    <li class = "list-group-item">
      <%= link_to prescription.title,prescription_path(prescription) %>
    </li>
  <% end %>
</ul>
<p><%= link_to 'Créer une prescription', new_prescription_path %></p>
