<div class="footer">
    <%# if sur calendar %>
    <%# <i class="fa-solid fa-calendar fa-xl" style="color: #49516f;"></i> %>
    <%# if sur page accueil %>
    <%# <i class="fa-solid fa-house-user fa-xl" style="color: #49516f;"></i> %>
    <%# if sur conv %>
    <%# <i class="fa-solid fa-comments fa-xl" style="color: #49516f;"></i> %>

  <%= link_to appointments_path do %>
    <i class="fa-regular fa-calendar fa-2xl" style="color: #49516f;"></i>
  <% end %>

  <%= link_to root_path do %>
    <i class="fa-solid fa-house fa-2xl" style="color: #49516f;"></i>
  <% end %>

  <%= link_to root_path do %>
    <i class="fa-regular fa-comments fa-2xl" style="color: #49516f;"></i>
  <% end %>
</div>
