<nav class="navi">
 <div class="navbar-items px-2">
    <a href=javascript:history.go(-1)><i class="fa-solid fa-chevron-left" style="color: #49516F;"></i></a>
  <div class="titre">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= cl_image_tag("https://res.cloudinary.com/dubgne8f0/image/upload/v1688389033/Union_eb810v.png")%>
    <% end %>
  </div>
  <div class="log-out-button">
    <%= link_to "/users/sign_out", class: "dropdown-item", data: {turbo_method: :delete} do  %>
        <i class="fa-solid fa-user-slash"></i>
    <% end %>
  </div>
 </div>
</nav>
