<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">

  <div class="footer">
    <div class="btn-footer">
      <i class="fa-solid fa-qrcode" style="color: #49516f;" ></i>
    </div>
      <i class="fa-solid fa-magnifying-glass" style="color: #49516f;"></i>
      <i class="fa-solid fa-house" style="color: #49516f;"></i>
      <i class="fa-regular fa-comments" style="color: #49516f;"></i>
    </div>
  </div>
</div>
