<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container">

</div>

  <div class="footer">
      <i class="fa-solid fa-house fa-xl" style="color: #49516f;"></i>
      <i class="fa-solid fa-qrcode fa-xl" style="color: #49516f;"></i>
      <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #49516f;"></i>
      <i class="fa-regular fa-comments fa-xl" style="color: #49516f;"></i>
  </div>

    <%# if sur page accueil %>
    <%# <i class="fa-solid fa-house-user fa-xl"></i> %>
