<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
   <i class="fa-solid fa-qrcode"></i>

    <div class="btn-ghost">
    <i class="fa-regular fa-qrcode" style="color: #49516f;"></i>
  </div>
</div>
