<div class = "container"> 
  <div>
    <h1 class = "container">Profile</h1>
  </div>
    <% if user_signed_in? %>
      <div class= "profileinfos">
        <h2> <%= current_user.first_name%></h2>
        <h2> <%= current_user.last_name%></h2>
        <h2> <%= current_user.email%></h2>
        <%# <h2> <%= current_user.description%>
      </div>
    <% end %>
</div>
