 <div class="edit-form">
    <div class="container form">
<h1 class="edit-form">Modifier vos pathologies</h1>
<div class="form">
    <%= simple_form_for @pathologie do |f| %>
      <%= f.input :name, placeholder: 'The title of your pathologie' %>
      <%= f.input :description, placeholder: 'Give us more information'%>
        <%= f.submit 'edit',class: 'btn btn-ghost' %>
  <% end %>
</div>
  </div>
</div>
