
<div class="calendar">
<div class="background">
  <div class="bg-white rounded p-3 shadow">
    <h3>Modifier votre relevé d'auto-mesure</h3>
    <%= simple_form_for [@measure, @measurement] data: { controller: 'flatpickr' } do |f| %>
      <div>
      <%= f.input :valeur, placeholder: 'Valeur'%>
      <%= f.input :unit, placeholder: 'Unité'%>
      </div>
      </div>
      <%= f.submit class: 'btn btn-ghost'%>
    <% end %>
  </div>
</div>
</div>
