<div class="header">
  <div class= "header-title">
  <% if user_signed_in? %>
    <h1>Relevé d'auto-mesure</h1>
    <% end %>
  </div>
</div>
 <div class="edit-form">
    <div class="container form">
    <div class="bg-white rounded p-3 shadow">
        <%= simple_form_for [@prescription, @measure, @measurement] do |f| %>
          <div>
            <%= f.input :value, placeholder: 'Valeur', label: 'Valeur'%>
        </div>
        <%= f.submit class: "bouton", value: 'Valider'%>
      <% end %>
    </div>
  </div>
</div>
