// .btn-test {
//   width: 220px;
//   font-size: 16px;
//   line-height: 20px;
//   font-weight: 150;
//   text-align:center;
//   border-radius: 8px;
//   padding: 1px 23px;
//   border: 1px solid #49516f;
//   background: #fff;
//   color: #49516f;
// }
// .btn-test:hover {
//   background: #EDEBF3;
// }

.btn-new {
  display: inline-block;
  outline: 0;
  border:0;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: #49516f, #C2AAE6 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.btn-new:hover{
  box-shadow: #C2AAE6 -2px -2px 0px 2px, #49516F 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
}

// display: inline-block;
// outline: 0;
// border:0;
// cursor: pointer;
// text-decoration: none;
// position: relative;
// color: #000;
// background: #fff;
// line-height: 30px;
// border-radius: 40px;
// padding: 20px;
// font-size: 30px;
// font-weight: 600;
// box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
// transition: all 0.2s;

.btn-calendar {
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  color: #AAA1C8;
  border-color: #AAA1C8;
}

.btn-month {
  outline: 0;
  color: #fff;
  background-color: #AAA1C8;
  border-color: #AAA1C8;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
}
