.btn-bi {
  display: inline-block;
  outline: 0;
  border:0;
  color: #49516F;
  text-decoration: none;
  position: relative;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 5px;
  font-weight: bold;
  font-size: large;
  box-shadow: #49516f -2px -2px 0px 2px, #C2AAE6 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
  margin-top: 2em;
  margin-bottom: 4em;
}

.btn-bi:hover{
  box-shadow: #C2AAE6 -2px -2px 0px 2px, #49516F 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
  text-decoration: none;
}

.btn-calendar {
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  color: #AAA1C8;
  border-color: #AAA1C8;
}

.btn-month {
  outline: 0;
  color: #fff;
  background-color: #AAA1C8;
  border-color: #AAA1C8;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
}
