.bi {
  display: inline-block;
  outline: 0;
  border:0;
  color: #49516F;
  text-decoration: none;
  position: relative;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 5px;
  font-weight: bold;
  font-size: large;
  box-shadow: #49516f -2px -2px 0px 2px, #C2AAE6 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.bi:hover{
  box-shadow: #C2AAE6 -2px -2px 0px 2px, #49516F 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
  text-decoration: none;
}

.btn-calendar {
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  color: #AAA1C8;
  border-color: #AAA1C8;
}

.btn-month {
  outline: 0;
  color: #fff;
  background-color: #AAA1C8;
  border-color: #AAA1C8;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 25px;
}

.home {
  outline: 0;
  display: inline-block;
  font-size: 800;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  background:rgba(251, 248, 254, 0.826);
  padding: 5px !important;
  font-size: 1rem;
  border-radius: 25px;
  color: #49516f;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  text-align: center !important;
}

.plus {
  display: flex;
  font-weight: bold;
  font-size: 40px;
  // background-color: transparent;
  width: 35px;
  height: 35px;
  // border: 3px solid #C2AAE6;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  background: linear-gradient(145deg, #E3DBFC, #DAD6E6);
  box-shadow:  5px 5px 10px #CECAD9,
              -5px -5px 10px #FFFFFF;
}


.bouton {
  display: inline-block;
  outline: 0;
  border: 0;
  font-weight: bold;
  color: rgb(72, 76, 122);
  font-size: 800;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-image: linear-gradient(180deg,#fff,#f5f5fa);
}

.bouton li{
  height: 24px;
}
.bouton p{
  height: 100%;
}

.edit-style {
  line-height: 0;
}
