.simple-calendar {
  table {
    // min-height: 80vh;
  }
  .today {
    background-color: #F2EEFF;
  }
}

.prescription-calendar {
  color: white;
  // padding: 8px 24px;
  border-radius: 4px;
  background: #129e5f;
  transition: background 0.3s ease;
}


.follow-up-calendar {
  color: white;
  // padding: 8px 24px;
  border-radius: 4px;
  background: rgb(104, 62, 96);
  transition: background 0.3s ease;
}


.measure-calendar {
  color: white;
  // padding: 8px 24px;
  border-radius: 4px;
  background:  royalblue;
  transition: background 0.3s ease;
}


.appointment-calendar {
  color: white;
  // padding: 8px 24px;
  border-radius: 4px;
  background:  rgb(224, 131, 24);
  transition: background 0.3s ease;
}


.prev-month {
  background-color: #d8c2f6 !important;
}

.future {
  background-color: #b6f2ed !important;
}

.current-month {
  background-color: #aeedec !important;
}

.today {
  background-color: #87e96e !important;
}
