.simple-calendar {
  table {
    // min-height: 80vh;
  }
  .today {
    background-color: #F2EEFF;
  }
}

.prescription-calendar {
  margin-right: 5px;
  color: rgb(41, 7, 63);
  // padding: 8px 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #129e5f;
  transition: background 0.3s ease;
  list-style-type: none;
}


.follow-up-calendar {
  margin-right: 5px;
  color: rgb(41, 7, 63);
  // padding: 8px 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: rgb(104, 62, 96);
  transition: background 0.3s ease;
  list-style-type: none;
}


.measure-calendar {
  margin-right: 5px;
  color: rgb(41, 7, 63);
  // padding: 8px 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background:  royalblue;
  transition: background 0.3s ease;
  list-style-type: none;
}


.appointment-calendar {
  margin-right: 5px;
  color: rgb(41, 7, 63);
  // padding: 8px 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background:  rgb(224, 131, 24);
  transition: background 0.3s ease;
  list-style-type: none;
}


.prev-month {
  background-color: #d8c2f6 !important;
}

.future {
  background-color: #87a8ef !important;
}

.current-month {
  background-color: white !important;
}

.today {
  background-color: #7b9cea !important;
}

.legend-container {
  text-align: center;
  background-color: #d8c2f6;
  position: relative;
  bottom: 16px;
  border-radius: 0 0 12px 12px;
}

.legend-title {
  font-weight: bold;
  font-size: 12px;
}

.left-side-legend {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}


.right-side-legend {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}


.bullet-prescription{
  display: flex;
}
.bullet-follow-up{
  display: flex;
  margin-right: 19px;
}
.bullet-measures{
  display: flex;
}
.bullet-appointment{
  display: flex;
}


.calendar-button-container {
  text-align: center;
  font-weight: bold;
  .calendar-button {
    width: 33%;
  }
}
