.simple-calendar {
  table {
    // min-height: 80vh;
  }
  .today {
    background-color: #F2EEFF;
  }
}

.prescription-calendar {
  color: rgb(41, 7, 63);
  // padding: 8px 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #129e5f;
  transition: background 0.3s ease;
  list-style-type: none;
}


.follow-up-calendar {
  color: rgb(41, 7, 63);
  // padding: 8px 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: rgb(104, 62, 96);
  transition: background 0.3s ease;
  list-style-type: none;
}


.measure-calendar {
  color: rgb(41, 7, 63);
  // padding: 8px 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background:  royalblue;
  transition: background 0.3s ease;
  list-style-type: none;
}


.appointment-calendar {
  color: rgb(41, 7, 63);
  // padding: 8px 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background:  rgb(224, 131, 24);
  transition: background 0.3s ease;
  list-style-type: none;
}


.prev-month {
  background-color: #d8c2f6 !important;
}

.future {
  background-color: #87a8ef !important;
}

.current-month {
  background-color: white !important;
}

.today {
  background-color: #7b9cea !important;
}
