.footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  background: #E3DBFC;
  display: flex;
  align-items: center;
  min-height: 7vh;
  justify-content: space-around;
  color: rgba(0,0,0,0.3);
  margin-top: auto;
}


.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a:hover {
  opacity: 1;
}
