.footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  background: #E3DBFC;
  display: flex;
  align-items: center;
  min-height: 7vh;
  justify-content: space-around;
  color: rgba(0,0,0,0.3);
  margin-top: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a:hover {
  opacity: 1;
}

.fa-calendar {
  font-size: 30px;
}

.middle-footer-button {
  position: relative;
  bottom: 23px;
  height: 70px;
  background-color: #E3DBFC;
  padding: 20px;
  border-radius: 59px;
  background: linear-gradient(145deg, #E3DBFC, #E3DBFC);
  box-shadow:  5px 5px 10px #cecad9,
              -5px -5px 10px #ffffff;
  }

.fa-house {
  font-size: 22px;
}

.fa-file-lines{
  font-size: 22px;
}

.fa-chart-column{
  font-size: 22px;
}

.fa-user{
  font-size: 22px;
}
