.measure-header {
  margin-top: 10px;
}


.measure__description {
  padding: 4vmin;
  display: flex;
  overflow: hidden;
  background: white;
  /* align-items: center; */
  margin: 10px;
  font-size: 14px;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-color: #49516F;
  border-radius: 15px;
}

.measures__values {
  margin: 10px;
  padding: 4vmin;
  display: flex;
  overflow: hidden;
  background: white;
  /* align-items: center; */
  font-size: 14px;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-color: #49516F;
  border-radius: 15px;
}

.list-group-itemd {
  background: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-left: 2px;
  // border-top-width: initial!important;
  // border: 2px solid rgba(73, 81, 111, 0.125);
}

.list-groupd ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  list-style: none !important;
  padding-left: 0 !important
}

.measures-created_atd {
  display: flex;
  justify-content: space-between;
}

.measures-dated {
  font-size: 12px;
}

.measures-timed {
  font-size: 10px;
}

.measures-countd {
  display: flex;
  justify-content: space-between;
}
