.measures {
  display: grid;
  justify-content: center;
  justify-items: center;
  // margin: 5px !important;
  padding: none !important;
  list-style-type: none;
}

.measure-title {
  a {
    color: rgb(148, 93, 148) !important;
    font-size: large;
    text-decoration: none;
  }
  h3 {
    color: maroon;
    font-size: medium;
    padding: 4vmin;
  }
  padding: 4vmin;
  overflow: hidden;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin: 5px;
  width: 300px;
  height: 50px;
  text-align: center;
}

.measure-description {
  h2 {
    color: rgb(148, 93, 148);
    font-size: large;
  }
  h3 {
    color: maroon;
    font-size: medium;
    padding: 4vmin;
  }
  padding: 4vmin;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin: 5px;
  width: 300px;
  height: 70px;
  text-align: center;
  margin-bottom: 10px;
}
