// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  background: #D3C3E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a:hover {
  opacity: 1;
}
