.navbar-lewagon {
  justify-content: space-between;
  background: #E3DBFC;
  ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  height: 40px;
}

#navbar-logo {
  margin: 0;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}
