// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";


// // Flatpickr
@import "flatpickr/dist/flatpickr.css";

* {
  color: #49516F;
  // background-color: #F2EEFF;
}

body {
  min-height: 100vh;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
 // position: relative;
  // opacity: 0.33;
  // background-color: aquamarine;
}
