<div class="header">
  <div class= "header-title">
    <h1>Modifier vos pathologies</h1>
  </div>
</div>
<div class="background">
  <div class="bg-white rounded p-3 shadow">
    <h1 class="edit-form">Modifier vos pathologies</h1>
      <div class="form">
      <%= simple_form_for @appointment do |f| %>
      <div>
      <%= f.input :titre, placeholder: 'Titre du rendez-vous'%>
      <%= f.input :date, placeholder: 'date' %>
      </div>
        <%= f.submit 'edit',class: "btn-bi", value: "Modifier le rdv" %>
      <% end %>
      </div>
  </div>
</div>
