<h1>Suivi des mesures</h1>


<div class="row">
  <% @prescriptions.each do |prescription| %>
    <% prescription.measures.each do |measure| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">
              <%= measure.title %>
            </h5>

            <p class="card-text">
              <%= measure.description %>
            </p>

            <%= link_to "Détails", prescription_measure_path(prescription, measure), class: "btn btn-primary"%>


          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
